# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
pinn/
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Results and logs
*.log

# Ignore model weights & config files (if necessary)
*.pth
config.yaml
